{% extends "conteneur.html" %}
{% block afternav %}
    {% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}


<h1>Bienvenue !</h1>
<div class="row">
    <div class="col">{% if lieux %}
    <p>Voici les {{lieux|length}} derniers lieux enregistrés :</p>
        <ul>
            {% for lieu in lieux %}
                <li><a href="{{url_for('lieu', place_id=lieu.place_id)}}">{{lieu.place_nom}}</a></li>
            {% endfor %}
        </ul>{%endif%}
      <a href="{{url_for('browse')}}">Voir plus de lieux</a></div>

    <div class="col" >{% if references %}
    <p>Voici les {{references|length}} dernières références enregistrées :</p>

        <ul>
            {% for reference in references %}
                <li><a href="{{url_for('biblio', biblio_id=reference.biblio_id)}}">{{reference.biblio_titre}}</a></li>
            {% endfor %}
        </ul>
        <a href="{{url_for('moteur_biblio')}}">Voir plus de références bibliographiques</a>
      </div>
</div>
    {% else %}
    <p>La base de données est en cours de constitution</p>
    {%endif%}
{% endblock %}
