{% extends "conteneur.html" %}

{% block titre %}
    {%if biblio %}| Biblio : {{biblio.biblio_titre}} {% endif %}
{% endblock %}

{% block corps %}
    {% if biblio %}
        <h1>{{biblio.biblio_titre}}</h1>
        <dl>
            <dt>Auteur</dt><dd>{{biblio.biblio_auteur}}</dd>
            <dt>Date de publication</dt><dd>{{biblio.biblio_date}}</dd>
            <dt>Lieu de publication</dt><dd>{{biblio.biblio_lieu}}</dd>
            <dt>Type</dt><dd>{{biblio.biblio_type}}</dd>
            <!-- J'itère sur ma liste de références et s'il y a des relations, il faut les afficher-->
                {% for element in lieux%}
            <dt><a href="{{url_for('lieu', place_id=element.place.place_id)}}">Lieu</a></dt><dd>{{element.place.place_nom}}</dd>
                    {%endfor%}
        </dl>

    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}

    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
    {% if current_user.is_authenticated %}
    <!-- Je renvoie vers ma route qui renvoie vers un formulaire où biblio_id = la liste définie d'après ma classe -->
    <p><a class="nav-link" href="{{url_for('creer_biblio')}}">Ajouter une bibliographie</a></p>
    <p><a class="nav-link" href="{{url_for('modif_biblio', biblio_id=biblio.biblio_id)}}">Editer la bibliographie</a></p>
    <p><a class="nav-link" href="{{url_for('index_lieux', biblio_id=biblio.biblio_id)}}">Lier la bibliographie à des lieux</a></p>
{%endif %}
{% endblock %}
