{% extends "conteneur.html" %}

{% block titre %}
    {%if biblio %}| Biblio : {{biblio_titre}} {% endif %}
{% endblock %}

{% block corps %}
    {% if biblio %}

        <dl>

            <dt>Auteur</dt><dd>{{biblio_auteur}}</dd>
            <dt>Date de publication</dt><dd>{{biblio_date}}</dd>
            <dt>Lieu de publication </dt><dd>{{biblio_lieu}}</dd>
            <dt>Type de publication </dt><dd>{{biblio_type}}</dd>


        </dl>

    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
