{% extends "conteneur.html" %}

{% block titre %}
    {%if biblio %}| Biblio : {{biblio.biblio_titre}} {% endif %}
{% endblock %}

{% block corps %}
    {% if biblio %}
        <h1>{{biblio.biblio_titre}}</h1>
        <dl>
            <dt>Auteur</dt><dd>{{biblio.biblio_auteur}}</dd>
            <dt>Date de publication</dt><dd>{{biblio.biblio_date}}</dd>
            <dt>Lieu de publication</dt><dd>{{biblio.biblio_lieu}}</dd>
            <dt>Type</dt><dd>{{biblio.biblio_type}}</dd>
        </dl>

    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}

    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
    {% if current_user.is_authenticated %}
    <!-- Je renvoie vers ma route qui renvoie vers un formulaire où biblio_id = la liste définie d'après ma classe -->
    <p><a class="nav-link" href="{{url_for('modif_biblio', biblio_id=biblio.biblio_id)}}">Editer la bibliographie</a></p>
{%endif %}
{% endblock %}
