{% extends "conteneur.html" %}

{% block titre %}| Créer une nouvelle relation entre deux lieux{%endblock%}

{% block corps %}

<h1>Création d'une relation</h1>
<p>Complétez le formulaire et cliquez sur "Ajouter".</p>
<form class="form" method="POST" action="{{url_for("creer_liaison")}}">
  <div class="form-group row">
    <label for="link_place1" class="col-sm-2 col-form-label">ID du lieu 1</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="link_place1" name="link_1_place[]" placeholder="ID du lieu">
    </div>
  </div>
  <div class="form-group row">
    <label for="link_relation_type" class="col-sm-2 col-form-label">Nature de relation entre les deux lieux</label>
    <div class="col-sm-10">
      <select type="text" class="form-control" id="link_relation_type" name="link_relation_type[]" placeholder="ink_relation_type[]">
        <option selected>Choisir</option>
        <option value="historique">historique</option>
        <option value="administratif">administratif</option>
        <option value="topographique">topographique</option>
    </div>
  </div>
  <div class="form-group row">
    <label for="link_place2" class="col-sm-2 col-form-label">ID du lieu 2</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="link_place2" placeholder="ID du lieu" name="link_2_place[]">
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </div>
</form>
{% endblock %}
