{% block titre %}
    {%if link %}| Relation entre deux lieux : {{link.link_place1}} et {{link.link_place2}} {% endif %}
{% endblock %}

{% block corps %}
    {% if link %}
        <h1>{{link.link_id}}</h1>
        <dl>
            <dt>Lieu 1</dt><dd>{{links.link_place1_id}}</dd>
            <dt>Nature de la relation</dt><dd>{{link.link_relation_type}}</dd>
            <dt>Lieu 2</dt><dd>{{links.link_place2_id}}</dd>
            <dt>Description</dt><dd>{{link.link_relation_description}}</dd>

        </dl>


    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}

    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>

    {% if current_user.is_authenticated %}
    <!-- lien pour éditer la relation entre les deux lieux-->
    <p><a class="nav-link" href="{{url_for('modif_link', link_id=link.link_id)}}">Editer la liaison</a></p>





{%endif %}
{% endblock %}
