{% extends "conteneur.html" %}

{% block titre %}
    {%if lieu %}| Lieu : {{lieu.place_nom}} {% endif %}
{% endblock %}

{% block corps %}
    {% if lieu %}
        <h1>{{lieu.place_nom}}</h1>
        <dl>
            <dt>Latitude</dt><dd>{{lieu.place_latitude}}</dd>
            <dt>Longitude</dt><dd>{{lieu.place_longitude}}</dd>
            <dt>Description</dt><dd>{{lieu.place_description}}</dd>
            <dt>Type</dt><dd>{{lieu.place_type}}</dd>
<!-- J'itère sur ma liste de références et s'il y a des relations, il faut les afficher-->
            {% for element in reference%}
              <dt><a href="{{url_for('biblio', biblio_id=element.biblio.biblio_id)}}">Référence bibliographique</a></dt><dd>{{element.biblio.biblio_titre}}</dd>
              {% if current_user.is_authenticated %}
              <dt><a class="nav-link" href="{{url_for("supprimer_association", relation_id=element.relation_id)}}">Supprimer l'association</a></dt>
{%endif%}{%endfor%}
              {% if current_user.is_authenticated %}
              <dt><a class="nav-link" href="{{url_for("depot")}}">Ajouter un nouveau lieu</a></dt>
              <dt><a class="nav-link" href="{{url_for('modif_lieu', place_id=lieu.place_id)}}">Editer le lieu</a></dt>
              <dt><a class="nav-link" href="{{url_for('index_biblio', place_id=lieu.place_id)}}">Ajouter une nouvelle référence</a></dt>
{%endif%}

        </dl>

    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}

    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>

{% endblock %}
