{% extends "conteneur.html" %}

{% block titre %}
    {%if lieu %}| Lieu : {{lieu.place_nom}} {% endif %}
{% endblock %}

{% block corps %}
    {% if lieu %}
        <h1>{{lieu.place_nom}}</h1>
        <dl>
            <dt>Latitude</dt><dd>{{lieu.place_latitude}}</dd>
            <dt>Longitude</dt><dd>{{lieu.place_longitude}}</dd>
            <dt>Description</dt><dd>{{lieu.place_description}}</dd>
            <dt>Type</dt><dd>{{lieu.place_type}}</dd>
        </dl>


    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}


    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
    {% if current_user.is_authenticated %}
    <p><a class="nav-link" href="{{url_for('modif_lieu', place_id=lieu.place_id)}}">Editer le lieu</a></p>
    <p><a class="nav-link" href="{{url_for('modif_biblio', biblio_id=biblio.biblio_id)}}">Editer la bibliographie</a></p>
    <!-- Je renvoie vers ma route qui renvoie vers un formulaire où biblio_id = la liste définie d'après ma classe -->

{%endif %}
{% endblock %}
