{% extends "conteneur.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block corps %}

   {% include "partials/recherche.html" %}

    <h1>{{titre}}</h1>
    {% if lieux %}
    
        <p>Il y a {{lieux.total}} lieu(x) qui répond(ent) à votre requête :</p>
        <ul>
            {% for lieu in lieux.items %}
                <li><a href="{{url_for('lieu', place_id=lieu.place_id)}}">{{lieu.place_nom}}</a></li>
            {% endfor %}
        </ul>

        {% if references %}
            <p>Il y a {{references.total}} référence(s) qui répond(ent) à votre requête :</p>
            <ul>
                {% for reference in references.items %}
                    <li><a href="{{url_for('biblio', biblio_id=reference.biblio_id)}}">{{reference.biblio_titre}}</a></li>
                {% endfor %}
            </ul>
    <nav aria-label="research-pagination">
      <ul class="pagination">
        {%- for page in lieux.iter_pages() %}
            {% if page %}

              {% if page != lieux.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for("recherche", keyword=keyword, page=page) }}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}

            {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
            {% endif %}

        {%- endfor %}
      </ul>
    </nav>
    {%endif%}
    {% endif %}
{% endblock %}
